# OneHot Encoding

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('titanic_train.csv',usecols=['Sex'])

In [3]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [5]:
pd.get_dummies(df, drop_first = True).head()

   Sex_male
0      True
1     False
2     False
3     False
4      True

In [6]:
df=pd.read_csv('titanic_train.csv',usecols=['Embarked'])

In [13]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [14]:
df.dropna(inplace=True)

In [15]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [19]:
pd.get_dummies(df, drop_first = True).head()

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

## OneHot Encoding with many categories in a feature

In [21]:
df=pd.read_csv('mercedesbenz.csv',usecols=["X0","X1","X2","X3","X4","X5","X6"])

In [22]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [23]:
for i in df.columns:
    print(len(df[i].unique()))

47
27
44
7
4
29
12

In [24]:
df.X1.value_counts().sort_values(ascending=False).head(10)

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: count, dtype: int64

In [25]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)

In [26]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [28]:
import numpy as np
for categories in lst_10:
    df[categories] = np.where(df['X1'] == categories, 1, 0)

In [30]:
lst_10.append('X1')

In [31]:
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]